// Colores reutilizables
$primary-color: #4F7448;
$secondary-color: #4EA345;
$tertiary-color: #F0FDEC;
$four-color: #F0EDE7;
$error-color: #e46962;
$black-color: #000;
$white-color: #ffff;

// Tamaños de textos reutilizables
$text-14: 14px;
$text-16: 16px;
$text-18: 18px;
$text-24: 24px;
$text-30: 30px;
$text-40: 40px;
$font-size-buttons: 15px;
