<footer class="footer">
  <div class="footer-content">
    <div class="brand-content">
      <a href="#">
        <div class="footer-logo">
          <img src="/brand/icon-name.png" alt="Logo Vive Natural" />
        </div>
      </a>

      <div class="social-icons">
        <a href="#">
          <img src="/brand/facebook.svg" alt="Facebook" />
        </a>
        <a href="#">
          <img src="/brand/instagram.svg" alt="Instagram" />
        </a>
        <a href="#">
          <img src="/brand/whatsapp.svg" alt="WhatsApp" />
        </a>
      </div>
    </div>

    <div class="footer-contact">
      <p><strong>Contáctanos</strong></p>
      <a href="#">
        <p>+57 322 835 5190</p>
      </a>
      <p>fullnaturaleza100&#64;gmail.com</p>
      <p>Suba, Bogotá D.C.</p>
    </div>
  </div>
</footer>
